<div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Welcome to the Spirit Animal Generator!</h1>
                <p class="lead"><a href = "/animal/<%= @rand_num %>"> Tell me my spirit animal! </a></p>
                <h2><span class="glyphicon glyphicon-globe"></span></h2>
                <ul class="list-unstyled">
                    <li>"Life-changing." -Ellen Degeneres</li>
                    <li>"Hodor" -Hodor</li>
                    <li>"Almost as cool as I am." -Kanye</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

 </div>