<center>
<h1>*~* C A L C U L A T O R *~*</h1>
<h2>Instructions:</h2>
<p><b>Possible Operations:</b> add, subtract, multiply, divide, and exponent</p> 
<p><b>Equation Format:</b> (first_number) operation (second_number)</p>
<p><b>URL Format:</b> http://localhost:4567/operation/first_number/second_number</p>
<p>To choose an operation, replace the word "operation" in the URL with the operation of your choice.</p>
<p><b>Example:</b> To find the answer to 5^2, use the URL "http://localhost:4567/exponent/5/2"</p>
</center>